<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zelyxir.synology-downloader</string>
	<key>connections</key>
	<dict>
		<key>2F5EC5EC-6747-4CCA-AC13-6FFB26FB0084</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B1B3049-7B3F-4D8D-80E9-1B7CA98856E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F63F263-5E78-431D-9839-B378681201FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C7A27FD-DEFA-4077-9683-26B4D11F3BE5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2FCCEF66-98F4-4151-950F-E38B4EBE72AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90858F61-A0B4-4699-AB6D-12E9B3D1CCE1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5FAD18A8-87B9-4B30-9FB6-B67B1C636006</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2858589-2305-41E4-B446-7054758727CF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5E53641D-C749-4C08-8FA9-06912C0EE7B5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BDB1B8A2-9B34-4AEE-8545-161D02BF34C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60270D2D-A675-4266-8AEF-C00F64838C29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F5EC5EC-6747-4CCA-AC13-6FFB26FB0084</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C85DF3C-59DF-48B5-ABE4-DD05AA346F6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F22FEE42-36EE-4A99-9152-6898261D5C3E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8135C33A-BEE2-4118-9951-B8C7D45C69B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>702D93AF-0D38-4D55-869A-4EA2D40C9790</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2FCCEF66-98F4-4151-950F-E38B4EBE72AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7C7A27FD-DEFA-4077-9683-26B4D11F3BE5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5FAD18A8-87B9-4B30-9FB6-B67B1C636006</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8135C33A-BEE2-4118-9951-B8C7D45C69B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3E21C48-1C35-43E7-B74D-0B5838D5CF76</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>12DBA7D1-81D3-406C-A4CB-5B5A7B376593</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90858F61-A0B4-4699-AB6D-12E9B3D1CCE1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C85DF3C-59DF-48B5-ABE4-DD05AA346F6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5E53641D-C749-4C08-8FA9-06912C0EE7B5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BDB1B8A2-9B34-4AEE-8545-161D02BF34C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B1B3049-7B3F-4D8D-80E9-1B7CA98856E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7737775-3CD5-4F00-994F-3584168180FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5E53641D-C749-4C08-8FA9-06912C0EE7B5</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BDB1B8A2-9B34-4AEE-8545-161D02BF34C8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zekun Shen</string>
	<key>description</key>
	<string>Downloader for synology nas</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Synology Downloader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Job submission succeeded</string>
				<key>title</key>
				<string>Synology Downloader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B2858589-2305-41E4-B446-7054758727CF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./ds.sh a '{query}' $DSDEST</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C7A27FD-DEFA-4077-9683-26B4D11F3BE5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sd</string>
				<key>subtext</key>
				<string>Send download task to synology</string>
				<key>text</key>
				<string>Synology download</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2F63F263-5E78-431D-9839-B378681201FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Script succeeded</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>5E53641D-C749-4C08-8FA9-06912C0EE7B5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5FAD18A8-87B9-4B30-9FB6-B67B1C636006</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>F22FEE42-36EE-4A99-9152-6898261D5C3E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query="{query}"

echo -n $query | grep \|</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C85DF3C-59DF-48B5-ABE4-DD05AA346F6C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./ds.sh s</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2FCCEF66-98F4-4151-950F-E38B4EBE72AD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>sl</string>
				<key>subtext</key>
				<string>List downloading tasks on synology nas</string>
				<key>text</key>
				<string>Synology List Tasks</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>702D93AF-0D38-4D55-869A-4EA2D40C9790</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Script succeeded</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>5E53641D-C749-4C08-8FA9-06912C0EE7B5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>90858F61-A0B4-4699-AB6D-12E9B3D1CCE1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo '{query}' |grep dbid |awk '{print $1}' |paste -s -d, - | tr -d '\n'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8135C33A-BEE2-4118-9951-B8C7D45C69B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D3E21C48-1C35-43E7-B74D-0B5838D5CF76</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Job delete succeeded</string>
				<key>title</key>
				<string>Synology Downloader</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A7737775-3CD5-4F00-994F-3584168180FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>sdel</string>
				<key>subtext</key>
				<string>Delete synology download tasks</string>
				<key>text</key>
				<string>Delete Tasks</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>60270D2D-A675-4266-8AEF-C00F64838C29</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./ds.sh d '{query}'</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2F5EC5EC-6747-4CCA-AC13-6FFB26FB0084</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Synology Download</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>12DBA7D1-81D3-406C-A4CB-5B5A7B376593</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>Script succeeded</string>
						<key>outputlabel</key>
						<string>success</string>
						<key>uid</key>
						<string>5E53641D-C749-4C08-8FA9-06912C0EE7B5</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>9B1B3049-7B3F-4D8D-80E9-1B7CA98856E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>Job failed with error:

{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>BDB1B8A2-9B34-4AEE-8545-161D02BF34C8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12DBA7D1-81D3-406C-A4CB-5B5A7B376593</key>
		<dict>
			<key>xpos</key>
			<real>1170</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>2F5EC5EC-6747-4CCA-AC13-6FFB26FB0084</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>2F63F263-5E78-431D-9839-B378681201FC</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>2FCCEF66-98F4-4151-950F-E38B4EBE72AD</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>5FAD18A8-87B9-4B30-9FB6-B67B1C636006</key>
		<dict>
			<key>xpos</key>
			<real>580</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>60270D2D-A675-4266-8AEF-C00F64838C29</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>6C85DF3C-59DF-48B5-ABE4-DD05AA346F6C</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>702D93AF-0D38-4D55-869A-4EA2D40C9790</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>7C7A27FD-DEFA-4077-9683-26B4D11F3BE5</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>8135C33A-BEE2-4118-9951-B8C7D45C69B6</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>90858F61-A0B4-4699-AB6D-12E9B3D1CCE1</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>9B1B3049-7B3F-4D8D-80E9-1B7CA98856E4</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>A7737775-3CD5-4F00-994F-3584168180FC</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>B2858589-2305-41E4-B446-7054758727CF</key>
		<dict>
			<key>xpos</key>
			<real>760</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>BDB1B8A2-9B34-4AEE-8545-161D02BF34C8</key>
		<dict>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>D3E21C48-1C35-43E7-B74D-0B5838D5CF76</key>
		<dict>
			<key>xpos</key>
			<real>1165</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>F22FEE42-36EE-4A99-9152-6898261D5C3E</key>
		<dict>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>https://127.0.0.1:5001</string>
				<key>placeholder</key>
				<string>Address of your synology</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The http(s) address of your synology nas</string>
			<key>label</key>
			<string>Synology address</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DSADDR</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>admin</string>
				<key>placeholder</key>
				<string>Username for your downloader tasks</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The username for your downloading tasks. (It's recommended to create a special user with limited permission and access)</string>
			<key>label</key>
			<string>Synology User</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DSUSER</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Password of your downloader account</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Password for the user above.</string>
			<key>label</key>
			<string>Synology Password</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DSPASSWD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Shared</string>
				<key>placeholder</key>
				<string>Where to put the downloads</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Where do you want to put the downloaded files. Must be a directory that exists.</string>
			<key>label</key>
			<string>Download Destination</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>DSDEST</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
